{% extends "layout.html" %}

{% block title %}購入確認ページ{% endblock %}

{% block main %}
<style>
    *{
        text-align: center;
    }
    .success{
        background-color: rgb(32, 221, 51);
        color:white;
    }
</style>
<div class="success">
    <h1 >正常に購入できました。</h1>
</div>
{% for image in item_images %}
<img src="{{ image['photo'] }} " width="300" height="300">
{% endfor %}
<h1>商品名：{{item_info['item_name']}}</h1>
<h2>説明</h2>
<p>{{ item_info['description'] }}</p>

<h2>
    販売状況：
    {% if item_info['status'] == true %}
    販売中
    {% else %}
    売り切れ
    {% endif %}
</h2>
<form action="/">
    <button type="submit">トップ画面に戻る</button>
</form>
{% endblock %}
